/* Import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&display=swap");

/* Project wide */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333333;
  min-height: 100vh;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

.box-shadow {
  box-shadow: 13px 13px 22px 3px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 13px 13px 22px 3px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 13px 13px 22px 3px rgba(0, 0, 0, 0.65);
}

.container-row,
.btn,
.img-container,
.container-col,
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-col,
.section {
  flex-direction: column;
}

.section {
  width: 100%;
  background: #f5f5f5;
  padding: 100px 0;
}

.section-container {
  width: 1400px;
}

.img-container {
  overflow: hidden;
  position: relative;
}

.img-100a {
  width: 100%;
  height: auto;
}

.dark-text {
  color: #333333;
  font-size: 1.4rem;
}

.white-text,
.nav-link {
  color: #ffffff;
  font-size: 1.4rem;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Playfair Display", sans-serif;
}

.subheading {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Playfair Display", sans-serif;
  position: relative;
  margin-bottom: 10px;
}

.subheading::after {
  position: absolute;
  content: "";
  bottom: -15px;
  width: calc(100% + 30px);
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #af8c53;
}

.center-text {
  text-align: center;
}

.btn {
  font-size: 1.4rem;
  padding: 15px 30px;
  border-radius: 50px;
  color: #fff;
  width: 240px;
  border: none;
  text-align: center;
  cursor: pointer;
  border: 3px solid #af8c53;
}

.btn-2 {
  background-color: #836b44;
  border: 3px solid #836b44;
}

.sr-only {
  display: none !important;
}

.space-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
}

.header-container {
  width: calc(100% - 100px);
  height: 100%;
}

.logo-container {
  gap: 5px;
}

.logo-img-container {
  width: 100px;
  height: 100px;
}

.logo-text-container {
  gap: 5px;
}

h1.logo-text {
  font-size: 2rem;
}

h2.logo-text {
  font-size: 1.2rem;
  font-weight: 400;
}

.nav-btn {
  cursor: pointer;
  width: 50px;
  height: 36px;
  justify-content: space-between;
}

.nav-btn .nav-btn-bar {
  width: 100%;
  height: 5px;
  border-radius: 20px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  position: relative;
}

.nav-btn.active .nav-btn-bar.b1 {
  transform: rotate(-45deg) translateY(21px);
}

.nav-btn.active .nav-btn-bar.b3 {
  transform: rotate(45deg) translateY(-21px);
}

.nav-btn.active .nav-btn-bar.b2 {
  display: none;
}

.nav-menu-container {
  position: absolute;
  right: 0;
  top: 100px;
  width: 250px;
  height: 260px;
  overflow: hidden;
}

.nav-menu {
  position: relative;
  width: 250px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.4392156863);
  border-radius: 5px 0 0 5px;
  gap: 15px;
  transition: all 0.3s ease;
  transform: translateX(100%);
}

.nav-menu.active {
  transform: translateX(0);
}

.nav-link {
  position: relative;
}

.nav-link::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: all 0.3s ease;
  content: "";
}

.nav-link:hover::after {
  width: 100%;
}

@media (max-width: 1500px) {
  .section-container {
    width: 1000px;
  }

  .section {
    padding: 75px 0;
  }

  .white-text,
  .nav-link {
    font-size: 1.3rem;
  }

  .btn {
    font-size: 1.3rem;
  }

  .heading {
    font-size: 2.8rem;
  }

  .subheading {
    font-size: 1.8rem;
  }
}

@media (max-width: 1080px) {
  .section-container {
    width: 700px;
  }

  .section {
    padding: 50px 0;
  }

  .white-text,
  .nav-link {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1.2rem;
  }

  .heading {
    font-size: 2.5rem;
  }

  .subheading {
    font-size: 1.7rem;
  }
}

@media (max-width: 768px) {
  .section-container {
    width: 330px;
  }

  .section {
    padding: 50px 0;
  }

  .white-text,
  .nav-link {
    font-size: 1.1rem;
  }

  .btn {
    font-size: 1.1rem;
  }

  .heading {
    font-size: 2.2rem;
  }

  .subheading {
    font-size: 1.5rem;
  }

  .logo-text-container {
    display: none;
  }

  .nav-menu-container {
    width: 100vw;
    height: calc(100vh - 100px);
  }

  .nav-menu {
    width: 100%;
    height: 100%;
    padding: 0;
    gap: 30px;
    border-radius: 0;
    background-color: rgba(38, 38, 38, 0.8901960784);
    align-items: center;
    justify-content: center;
  }

  .nav-link {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=base.css.map */

/* Home Hero */
.home-hero-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  padding: 0;
}

.home-hero-section .home-hero-wrapper {
  z-index: 1;
  background: rgb(83, 83, 83);
  background: linear-gradient(0deg, rgb(83, 83, 83) 20%, rgb(15, 15, 15) 73%);
  width: 100%;
  height: 100%;
}

.home-hero-section .home-hero-container {
  width: 100%;
  height: 100%;
}

.home-hero-section .heading-container {
  gap: 50px;
  width: 50%;
  padding: 100px;
}

.home-hero-section .btns-container {
  gap: 30px;
}

.home-hero-section .img-container {
  width: 50%;
  align-items: flex-end;
  height: 100%;
  background-image: url('../images/real-estate-home.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1500px) {
  .home-hero-section .heading-container {
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  .home-hero-section .home-hero-wrapper {
    background: rgb(83, 83, 83);
    background: linear-gradient(270deg, rgb(83, 83, 83) 20%, rgb(15, 15, 15) 73%);
  }

  .home-hero-section .img-container {
    display: none !important;
  }

  .home-hero-section .img-100a {
    width: 100%;
    height: auto;
    opacity: 0.3;
  }
}

@media (max-width: 768px) {
  .home-hero-section .heading-container {
    height: calc(100vh - 100px);
    align-items: center;
    gap: 20px;
    padding: 30px;
    margin-top: 50px;
  }

  .home-hero-section .btns-container {
    flex-direction: column;
    gap: 10px;
  }
}

/* Home Section */
.home-section {
  background: rgb(83, 83, 83);
  background: linear-gradient(270deg, rgb(83, 83, 83) 20%, rgb(15, 15, 15) 73%);
  overflow: hidden;
}

.home-section .main-text-container {
  width: 700px;
  gap: 30px;
}

.home-section .text-container {
  gap: 20px;
}

.home-section .text-container.hidden .white-text {
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.8s ease;
}

.home-struggles-section .text-container.hidden .white-text {
  transform: translateX(-100%);
}

.home-section .text-container.show .white-text {
  opacity: 1;
  transform: translate(0);
}

.home-section .text-container.show .white-text:nth-child(2) {
  transition-delay: 0.3s;
}

.home-section .img-container {
  width: 500px;
  height: 500px;
  border-radius: 3px;
}

@media (max-width: 1500px) {
  .home-section .main-text-container {
    width: 500px;
  }

  .home-section .img-container {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 1080px) {
  .home-section .section-container {
    flex-direction: column;
    gap: 50px;
  }

  .home-section .main-text-container {
    align-items: center;
  }
}

@media (max-width: 1080px) {
  .home-section .main-text-container {
    width: 100%;
  }

  .home-section .img-container {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 1080px) {
  .home-struggles-section .section-container {
    flex-direction: column-reverse;
  }
}

/* Testimonial Seciton */
.home-testimonials-section {
  background: rgb(83, 83, 83);
  background: linear-gradient(270deg, rgb(83, 83, 83) 20%, rgb(15, 15, 15) 73%);
}

.home-testimonials-section .section-container {
  gap: 30px;
}

.home-testimonials-section .card-container {
  width: 750px;
  height: 550px;
  position: relative;
  overflow: hidden;
}

.home-testimonials-section .swipe {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.home-testimonials-section .swipe.swipe-left {
  left: 0;
  transform: translateY(-50%);
}

.home-testimonials-section .swipe.swipe-right {
  right: 0;
  transform: translateY(-50%) rotate(180deg);
}

.home-testimonials-section .swipe-dots {
  position: absolute;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
}

.home-testimonials-section .swipe-dots .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.home-testimonials-section .swipe-dots .dot.active {
  background-color: #ffffff;
}

.home-testimonials-section .card {
  width: 600px;
  height: 450px;
  border: 3px solid #af8c53;
  border-radius: 5px;
  transition: all 0.4s ease;
  top: 50%;
  left: 50%;
  position: absolute;
}

.home-testimonials-section .card.right {
  transform: translate(425px, -50%);
}

.home-testimonials-section .card.left {
  transform: translate(-1025px, -50%);
}

.home-testimonials-section .card.center {
  transform: translate(-50%, -50%);
}

.home-testimonials-section .card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 70px 30px 60px 60px;
  gap: 20px;
}

.home-testimonials-section .quote-icon {
  position: absolute;
  width: 40px;
  height: 40px;
}

.home-testimonials-section .quote-icon.quote-img-1 {
  left: 15px;
  top: 15px;
}

.home-testimonials-section .quote-icon.quote-img-2 {
  right: 15px;
  bottom: 15px;
  transform: rotate(180deg);
}

.home-testimonials-section .profile-img {
  position: absolute;
  border-radius: 50%;
  border: 3px solid #af8c53;
  width: 100px;
  height: 100px;
  top: -30px;
  right: -30px;
}

@media (max-width: 768px) {
  .home-testimonials-section .card-container {
    width: 330px;
    height: 500px;
  }

  .home-testimonials-section .card {
    width: 300px;
    height: 400px;
  }

  .home-testimonials-section .swipe {
    width: 25px;
    height: 25px;
    bottom: 0;
    top: auto;
  }

  .home-testimonials-section .swipe.swipe-left {
    transform: translateY(0);
  }

  .home-testimonials-section .swipe.swipe-right {
    transform: translateY(0) rotate(180deg);
  }

  .home-testimonials-section .card-wrapper {
    padding: 55px 15px 30px 30px;
  }

  .home-testimonials-section .quote-icon {
    width: 20px;
    height: 20px;
  }

  .home-testimonials-section .quote-icon.quote-img-1 {
    left: 7px;
    top: 7px;
  }

  .home-testimonials-section .quote-icon.quote-img-2 {
    right: 7px;
    bottom: 7px;
  }

  .home-testimonials-section .profile-img {
    width: 70px;
    height: 70px;
    top: -15px;
    right: -15px;
  }

  .home-testimonials-section .swipe-dots {
    gap: 10px;
    bottom: 7px;
  }

  .home-testimonials-section .swipe-dots .dot {
    width: 10px;
    height: 10px;
  }
}

/*# sourceMappingURL=home.css.map */