/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&family=Source+Sans+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --MAIN-BG: #262626;
    --MAIN-TP: #262626e3;
    --MAIN-MORE-TP: #262626a9;
    --LIGHT-GRAY-1: #b0b0b0;
    --LIGHT-GRAY-2: #f2f2f2;
    --GOLD: #b17c28;
    --BLUE: #323a47;
    --GREEN: #006400;
    --DARK-TEXT: #262626;
    --LIGHT-BG: #333333;
    --WHITE-TEXT: #ffffff;
    --NAV: #262626e3;
}

body {
    background-color: var(--LIGHT-GRAY-2);
    min-height: 100vh;
    position: relative;
    font-family: "Josefin Sans", sans-serif;
}

a:visited {
    color: var(--WHITE-TEXT);
}

a {
    text-decoration: none;
}

/* Header */

header {
    width: 100vw;
    max-width: 100%;
    background-color: var(--MAIN-BG);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    font-family: "Source-Sans-Pro", sans-serif;
    z-index: 2;
}

.header-container {
    height: 100px;
    width: calc(100vw - 80px);
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--WHITE-TEXT);
}

/* Logo */

.logo-container {
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--WHITE-TEXT);
}

.logo-img {
    width: 100%;
    height: auto;
}

.logo {
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Nav Bar */

.nav-bar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 800px;
    height: 100%;
}

.nav-item {
    list-style-type: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: relative;
}

.nav-dropdown-container {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: translateY(-50%);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
}

.nav-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px 0px;
    border-radius: 0 0 5px 5px;
    background-color: var(--MAIN-TP);
}

.nav-dropdown-btn:hover .nav-dropdown-container {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.nav-dropdown-icon {
    color: var(--WHITE-TEXT);
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    margin-left: 5px;
    transition: all 0.2s ease;
}

.nav-dropdown-btn:hover .nav-dropdown-icon {
    transform: rotate(-180deg);
}
  
.nav-link {
    text-decoration: none;
    color: var(--WHITE-TEXT);
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 40px;
    height: 5px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 3px;
}

/* Social Links */

.socials-container {
    width: 90px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    color: var(--WHITE-TEXT);
    font-size: 2.5rem;
    text-decoration: none; 
}

@media (max-width: 1400px) {
    /* Nav Bar */

    .nav-menu {
        width: 400px;
        gap: 40px;
    }

}

@media (max-width: 1000px) {
    /* Header */

    .header-container {
        width: calc(100vw - 40px);
    }

    /* Nav Bar */

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--NAV);
        width: 100vw;
        max-width: 100%;
        height: fit-content;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        padding: 50px 0;
        gap: 30px;
    }

    .nav-menu.active {
        left: 0;
    }

    header.active {
        position: fixed;
    }

    .nav-item {
        height: fit-content;
    }

    .nav-dropdown-container {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease;
        position: absolute;
        display: none;
    }

    .nav-dropdown-container.active {
        display: flex;
    }

    .nav-dropdown {
        width: 100%;
        border-radius: 0;
        height: fit-content;
    }

    .nav-dropdown-btn:hover .nav-dropdown-icon {
        transform: rotate(0);
    }

    /* Socials */

    .socials-container {
        width: 90px;
    }
}

/* Hero Image Section */

.hero-image-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    position: relative;
}

.hero-image-container img {
    height: 100%;
    width: auto;
    object-fit: cover;
    min-width: 100%;
    max-width: none;
}

.hero-content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--MAIN-TP);
    border-radius: 5px;
}

.hero-slogan {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.slogan-line {
    color: var(--WHITE-TEXT);
    font-size: 2rem;
    text-align: center;
    padding: 5px 0;
    width: 400px;
}

.slogan-line.heading {
    font-size: 3rem;
    color: var(--WHITE-TEXT);
}

.slogan-line.sub-heading {
    font-size: 1.8rem;
    color: var(--GOLD);
}

.hero-btns-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.btn {
    background-color: var(--GOLD);
    padding: 15px;
    color: var(--WHITE-TEXT);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.7rem;
    text-align: center;
    width: fit-content;
}

@media (max-width: 1000px) {
    
    .hero-slogan {
        gap: 10px;
    }
    
    .slogan-line {
        width: 250px;
    }

    .hero-btns-container {
        flex-direction: column;
        gap: 10px;
    }
}

/* Intro Section */

.intro-section {
    height: fit-content;
    padding: 100px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--LIGHT-GRAY-2);
}

.intro-container {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.intro-img-container {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
}

.intro-img-container img {
    width: 100%;
    height: 100%;
}

.intro-content-container {
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.intro-text {
    color: var(--DARK-TEXT);
    font-size: 1.2rem;
    padding: 10px 0;
}

.intro-text.heading {
    font-size: 1.6rem;
    padding: 0 0 20px 0;
}

.intro-btn {
    margin: 20px 0 0 0;
}

@media (max-width: 1000px) {
    
    .intro-section {
        height: fit-content;
        padding: 50px 0;
    }

    .intro-container {
        flex-direction: column;
        width: 300px;
    }

    .intro-img-container {
        width: 300px;
        height: 300px;
    }

    .intro-content-container {
        width: 300px;
        height: fit-content;
    }

    .intro-btn {
        align-self: center;
    }
}

/* Choose Section */

.choose-section {
    height: fit-content;
    padding: 100px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--MAIN-BG);
}

.choose-container {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.choose-img-container {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
}

.choose-img-container img {
    width: 100%;
    height: 100%;
}

.choose-content-container {
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.choose-text {
    color: var(--WHITE-TEXT);
    font-size: 1.2rem;
    padding: 10px 0;
}

.choose-text.heading {
    font-size: 1.6rem;
    padding: 0 0 20px 0;
}

.choose-btn {
    margin: 20px 0 0 0;
    align-self: flex-end;
}

@media (max-width: 1000px) {
    
    .choose-section {
        height: fit-content;
        padding: 50px 0;
    }

    .choose-container {
        flex-direction: column-reverse;
        width: 300px;

    }

    .choose-img-container {
        width: 300px;
        height: 300px;
    }

    .choose-content-container {
        width: 300px;
        height: fit-content;
    }

    .choose-btn {
        align-self: center;
    }
}

/* Testimonial Section */

.testimonial-section {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--LIGHT-GRAY-2);
}

.testimonial-container {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.testimonial-heading {
    font-size: 2rem;
    color: var(--DARK-TEXT);
}

.testimonial-card {
    width: 600px;
    height: 400px;
    border-radius: 5px;
    background-color: var(--MAIN-BG);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease;
}

.testimonial-card-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}

.testimonial-profile-container {
    width: 200px;
    height: 100%;
    position: relative;
}

.testimonial-profile-img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.testimonial-profile-img {
    width: 100%;
    height: auto;
}

.testimonial-profile-name {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: var(--WHITE-TEXT);
    font-size: 1.4rem;
    background-color: var(--MAIN-TP);
    padding: 10px;
    border-radius: 5px;
    max-width: 160px;
}

.testimonial-quote-container {
    width: 400px;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-quote-text {
    color: var(--WHITE-TEXT);
    font-size: 1.2rem;
}

.swipe-wrapper {
    position: relative;
}

.swipe-container {
    width: 600px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.testimonial-card-1 {
    transform: translateX(0%);
}

.testimonial-card-2 {
    transform: translateX(100%);
}

.testimonial-card-3 {
    transform: translateX(200%);
}

.swipe-btn {
    font-size: 5rem;
    color: var(--DARK-TEXT);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.swipe-left {
    left: -100px;
}

.swipe-right {
    right: -100px;
}

.dots-container {
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--MAIN-BG);
    background-color: var(--LIGHT-GRAY-2);
    cursor: pointer;
    transition: all 0.2s ease;
}

.dot.active {
    background-color: var(--MAIN-BG);
}

@media (max-width: 1000px) {
    
    .testimonial-section {
        height: fit-content;
        padding: 50px 0 200px 0;
    }

    .testimonial-heading {
        text-align: center;
        width: 320px;
    }

    .testimonial-container {
        width: 320px;
        gap: 10px
    }

    .testimonail-heading {
        font-size: 1rem;
    }

    .testimonial-card {
        width: 320px;
        height: 400px;
    }

    .testimonial-profile-container {
        width: 130px;
        height: 260px;
        align-self: flex-start;
    }

    .testimonial-profile-name {
        left: 0px;
        bottom: -140px;
        width: 130px;
        height: 140px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--MAIN-BG);
        border-radius: 0 0 0 5px;
        font-size: 1.4rem;
    }

    .testimonial-quote-container {
        width: 190px;
        padding: 5px 2px 5px 5px;
        align-items: flex-start;
    }

    .testimonial-quote-text {
        font-size: 0.95rem;
    }

    .swipe-container {
        width: 320px;
        height: 420px;
    }

    .swipe-btn {
        font-size: 2rem;
        top: auto;
        bottom: -40px;
        transform: translateY(0);
    }

    .swipe-left {
        left: 50px;
    }

    .swipe-right {
        right: 50px;
    }

    .dots-container {
        height: 20px;
    }

    .dot {
        width: 20px;
        height: 20px;
    }
}

/* Footer */

footer {
    width: 100vw;
    max-width: 100%;
    background-color: var(--MAIN-BG);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -100px;
    font-family: "Source-Sans-Pro", sans-serif;
}

.footer-container {
    height: 100px;
    width: calc(100vw - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--WHITE-TEXT);
}

.copyright {
    width: 180px;
    font-size: 1.2rem;
}

.privacy-link {
    color: var(--WHITE-TEXT);
    font-size: 1.5rem;
}

.footer-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
}

@media (max-width: 1000px) {
    .footer {
        bottom: -200px;
    }

    .footer-container {
        height: 200px;
        position: relative;
        width: calc(100vw - 40px);
    }

    .copyright {
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .privacy-link {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        bottom: 50px;
    }

    .footer-nav-container {
        position: absolute;
        left: 0;
        bottom: 90px;
        width: 100%;
        justify-content: space-evenly;
    }

    .footer-socials {
        position: absolute;
        left: 0;
        bottom: 130px;
        width: 100%;
        justify-content: center;
        gap: 20px;
        height: fit-content;
    }

}

/* About Us Section */

.about-us-section {
    height: fit-content;
    padding: 300px 0 200px 0;
    width: 100vw;
    max-width: 100%;
    background-color: var(--MAIN-BG);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-container {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about-us-img-container {
    width: 450px;
    height: 450px;
    border-radius: 5px;
    overflow: hidden;
}

.about-us-img {
    width: 100%;
    height: auto;
}

.about-us-content-container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: var(--WHITE-TEXT);
    font-size: 1.2rem;
}

@media (max-width: 1000px) {
    
    .about-us-section {
        height: fit-content;
        padding: 150px 0 100px 0;
    }
    
    .about-us-container {
        flex-direction: column-reverse;
        width: 300px;
        gap: 20px;
    }

    .about-us-img-container {
        width: 300px;
        height: 300px;
    }

    .about-us-content-container {
        width: 300px;
        height: fit-content;
        padding: 20px 0;
        gap: 10px;
    }
}

/* Meet The Team Section */

.team-section {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: var(--LIGHT-GRAY-2);
    padding: 100px 0;
}

.team-container {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.meet-the-team-heading {
    color: var(--GOLD);
    font-size: 3rem;
}

.team-person-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.team-person-container:nth-child(odd) {
    flex-direction: row-reverse;
}

.team-person-img-container {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
}

.team-person-img {
    width: 100%;
    height: auto;
}

.team-person-content-container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: var(--DARk-TEXT);
}

.team-person-heading {
    font-size: 2rem;
}

.team-person-text {
    line-height: 1.5rem;
    font-size: 1.3rem;
}

@media (max-width: 1000px) {
    
    .team-section {
        padding: 100px 0 200px 0;
    }

    .team-container {
        width: 300px;
        gap: 30px;
    }

    .team-person-container {
        flex-direction: column;
        gap: 30px;
    }

    .team-person-container:nth-child(odd) {
        flex-direction: column;
    }

    .team-person-img-container {
        width: 300px;
        height: 300px;
    }

    .team-person-content-container {
        width: 300px;
        height: fit-content;
    }

    .team-person-heading {
        align-self: center;
        width: 300px;
    }

    .team-person-text {
        line-height: 1.3rem;
        font-size: 1.1rem;
    }
}

/* Contact Section */

.contact-section {
    height: fit-content;
    padding: 180px 0 100px 0;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--LIGHT-GRAY-2);
}

.contact-container {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.contact-heading {
    font-size: 3rem;
    color: var(--DARK-TEXT);
}

.contact-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact-form-container {
    background-color: var(--MAIN-BG);
    padding: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.form-label {
    font-size: 2.2rem;
    color: var(--GOLD);
}

.form-input {
    width: 450px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid var(--LIGHT-GRAY-2);
    color: var(--DARK-TEXT);
    font-size: 1.8rem;
    background-color: var(--LIGHT-GRAY-2);
    margin: 0 0 20px 0;
}

.form-input:focus {
    border: 3px solid var(--GOLD);
    outline: none;
}

.form-textarea:focus {
    border: 3px solid var(--MAIN-BG);
    outline: none;
}

.send-email-btn {
    color: var(--WHITE-TEXT);
    font-size: 2rem;
    width: 450px;
    padding: 10px;
    background-color: var(--GOLD);
    border-radius: 5px;
    border: 2px solid var(--WHITE-TEXT);
    cursor: pointer;
    display: block;
    margin: 20px auto 0 auto;
}

.contact-details-container {
    background-color: var(--MAIN-BG);
    padding: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 700px;
}

.contact-details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.contact-details-text {
    color: var(--WHITE-TEXT);
    font-size: 1.3rem;
}

.contact-details-text a {
    color: var(--GOLD);
}

.google-maps-container {
    width: 450px;
    height: 450px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.google-maps-btn {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    font-size: 1.3rem;
}

@media (max-width: 1100px) {
    
    .contact-section {
        height: fit-content;
        padding: 150px 0 200px 0;
    }

    .content-container {
        width: 300px;
    }

    .contact-content-container {
        flex-direction: column;
        gap: 30px;
    }

    .contact-form-container {
        padding: 20px;
        height: fit-content;
    }

    .form-input {
        width: 270px;
    }

    .send-email-btn {
        width: 270px;
    }

    .contact-details-container {
        height: fit-content;
        padding: 20px;
        width: 310px;
    }

    .google-maps-container {
        width: 270px;
        height: 270px;
    }
}

/* Notification */

.notification {
    position: absolute;
    display: none;
    top: 110px;
    z-index: 4;
    width: 100vw;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.notification.active {
    display: flex;
}

.notification-container {
    width: 300px;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--MAIN-TP);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notification-message {
    color: var(--WHITE-TEXT);
    font-size: 1.5rem;
}

.notification-btn {
    font-size: 1.3rem;
    margin: 10px 0 0 0;
}

/* Buy Page */

/* Buy Hero */

.buy-hero-content-container {
    background-color: var(--MAIN-MORE-TP);
    width: 800px;
    padding: 30px 30px 10px 30px;
}

.hero-slogan .buy {
    width: 100%;
}

/* Morals Section */

.morals-section {
    padding: 150px 0;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--MAIN-BG);
}

.morals-container {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.morals-heading {
    font-size: 4rem;
    color: var(--WHITE-TEXT);
}

.morals-sub-heading {
    font-size: 2rem;
    color: var(--GOLD);
}

.morals-content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
}

.morals-info-container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.morals-icon-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--GOLD);
}

.morals-icon {
    width: 100%;
    height: auto;
}

.morals-info-heading {
    font-size: 2.5rem;
    color: var(--GOLD);
}

.morals-info-text {
    font-size: 1.5rem;
    color: var(--WHITE-TEXT);
    text-align: center;
}

.morals-outro-text {
    font-size: 2rem;
    color: var(--WHITE-TEXT);
    text-align: center;
}

/* Roadmap Section */

.roadmap-section {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roadmap-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}






/* 404 Section */

.error-404-section {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: var(--LIGHT-GRAY-2);
}

.content-404 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.error-image img {
    width: 100%;
    height: auto;
}

.error-text {
    font-size: 7rem;
    color: var(--DARK-TEXT);
    padding: 0 0 50px 0;
}